# Byte-compiled / optimized / DLL files
__pycache__/

# Mac OS
.DS_Store

# Django stuff:
*.log

# Environments
.env
/.venv

# Local Assets
node_modules/
main/staticfiles/
dist/
src/dist/
src/bundles/
src/webpack-stats.json