.badges {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.badge {
    display: flex;
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: var(--gray-100, #EEF2F6);
    color: var(--gray-900, #121926);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}