.button {
    font-weight: 700;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5rem;
    padding: 0.5rem 1.5rem;
    background-color: transparent;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border-width: 2px;
    border-color: transparent;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;

    &:disabled,
    &.disabled { pointer-events: none !important; }

    &:focus { border: 2px solid transparent; }
  }

.button.button--primary {
    background-color: var(--primary-color);
    color: var(--pure-white);

    &:hover { background-color: var(--gray-300); }
    &:disabled { background-color: var(--gray-300); }
}

.button--outline-white {
    border: 2px solid var(--pure-white);
    color: var(--pure-white);
    background-color: transparent;

    &:hover,
    &:focus {
      color: var(--gray-950);
      background-color: var(--pure-white);
      border: 2px solid var(--pure-white);
    }
  }