.project + .project { margin-top: 48px; }

.project {
    display: flex;
    align-items: center;
    padding: 60px;
    gap: 36px;
    border-radius: 24px;
    // background: var(--gray-950, #121212);
    background-color: hsla(0,0%,100%,.08);

    .col.col-left {
        width: 33.33%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .col.col-right { width: 66.66%; position: relative; }

    figure {
        height: 100%;
        margin: 0;
        padding: 0;
        width: 100%;
        overflow: hidden;

        img {
            width: 100%;
            height: auto;
            -webkit-transform: scale(1.5);
            transform: scale(1.5);
            -webkit-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
        }

        &:hover {
            img {
                -webkit-transform: scale(1);
                transform: scale(1);
            }
        }
    }

    @include media-breakpoint-down(md) {
        flex-direction: column;
        padding: 48px;

        .col.col-left,
        .col.col-right { width: 100%; }
        .col.col-right { order: -1; }
    }

    @include media-breakpoint-down(sm) {
        padding: 24px;
    }
}