// Gray
$gray-25: #FCFCFC !default;
$gray-50: #FAFAFA !default;
$gray-100: #F4F4F5 !default;
$gray-200: #E4E4E7 !default;
$gray-300: #D1D1D6 !default;
$gray-400: #A0A0AB !default;
$gray-500: #70707B !default;
$gray-600: #51525C !default;
$gray-700: #3F3F46 !default;
$gray-800: #26272B !default;
$gray-900: #18181B !default;
$gray-950: #131316 !default;


// Cyan
$cyan-25: #F5FEFF !default;
$cyan-50: #ECFDFF !default;
$cyan-100: #CFF9FE !default;
$cyan-200: #A5F0FC !default;
$cyan-300: #67E3F9 !default;
$cyan-400: #22CCEE !default;
$cyan-500: #06AED4 !default;
$cyan-600: #088AB2 !default;
$cyan-700: #0E7090 !default;
$cyan-800: #155B75 !default;
$cyan-900: #164C63 !default;
$cyan-950: #0D2D3A !default;
