*,
*::before,
*::after {
    box-sizing: border-box;
}

html { margin: 0; scroll-behavior: smooth; }
body {
    height: 100%;
    width: 100%;
    font-family: 'Onest', Helvetica, Arial, sans-serif;
    background: var(--gray-900);
    color: white;
}

.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
    --bs-gutter-x: 3rem;
}