html,
body { margin: 0; }

html { scroll-behavior: smooth; }
body {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background: #1B1B1B;
    color: white;
}

main { padding: 24px 0; }

header,
footer { background-color: #000; }