:root {
    --pure-black: #000;
    --pure-white: #FFF;
    --gray-950: #131316;
    --gray-900: #18181B;
    --gray-800: #26272B;
    --gray-700: #3F3F46;
    --gray-600: #51525C;
    --gray-500: #70707B;
    --gray-400: #A0A0AB;
    --gray-300: #D1D1D6;
    --gray-200: #E4E4E7;
    --gray-100: #F4F4F5;
    --gray-50: #FAFAFA;
    --gray-25: #FCFCFC;

    --purple: #736EFE;
    --cyan: #5EE2FF;

    --primary-color: var(--cyan);
}