<section class="hero hero--project">
  <div class="container">
    <hgroup>
      <h1>{{ project.title }}</h1>
      {% if project.subtitle %}<h2>{{ project.subtitle }}</h2>{% endif %}
    </hgroup>
    {% if project.summary %}<h4>{{ project.summary }}</h4>{% endif %}

    {% if project.website_url or project.source_code_url %}
    <div class="button-group">
      {% if project.website_url %}
      <a href = "{{ project.website_url }}" target="_blank" class="button button--secondary">Live Website</a>
      {% endif %}

      {% if project.source_code_url %}
      <a href = "{{ project.source_code_url }}" target="_blank" class="button button--secondary">Source Code</a>
      {% endif %}
    </div>
    {% endif %}
  </div>

  {% if project.hero %}
  <figure class="hero--image">
    <div class="hero--overlay"></div>
    <img src="{{ project.hero }}" alt="{{ project.title }}">
  </figure>
  {% endif %}
</section>