{% extends 'app.html' %}
{% block title %}{{ project.title }}{% endblock %}


{% block content %}

{% include 'details/hero.html' %}

<div class="container">
  <section>
    <h1>{{ project.title }}</h1>
    <article>
      {{ project.body|safe }}
    </article>
  </section>

  {% if galleries %}
  <section>
    {% for gallery in galleries %}
    {% if galleries|length > 1 %}
      <h2>{{ gallery.title }}</h2>
    {% else %}
      <h2>UI Screenshots</h2>
    {% endif %}
    <div class="pswp-gallery">
      {% for item in gallery.galleryitem_set.all.values %}
        <figure class="pswp-gallery__item">
          <a 	href="{{ item.url }}"
              data-pswp-width="{{ item.width }}"
              data-pswp-height="{{ item.height }}"
              data-cropped="true"
              target="_blank"
              >
            <div class="gallery--image" style="background-image: url('{% if item.thumb %}{{ item.thumb }}{% else %}{{ item.url }}{% endif %}')" alt="{{item.title}}"></div>
          </a>
          {% if item.caption %}
            <figcaption class="hidden-caption-content">
              <h6>{{ item.title }}</h6>
              <p>{{ item.caption }}</p>
            </figcaption>
          {% endif %}
        </figure>
      {% endfor %}
    </div>
    {% endfor %}
  </section>
  {% endif %}
</div>

{% endblock %}