{% extends 'app.html' %}
{% block title %}{{ project.title }}{% endblock %}


{% block content %}
<section>
  <div class="container-xxl">
        <h1>{{ project.title }}</h1>
  </div>
</section>

{% if gallery %}
<section>
  <div class="container-xxl">
    <div class="pswp-gallery pswp-gallery--single-column" id="my-gallery">
      {% for item in gallery.galleryitem_set.all.values %}
        <figure class="pswp-gallery__item">
          <h2>{{ item.title }}</h2>
          <a 	href="{{ item.url }}"
              data-pswp-width="{{ item.width }}"
              data-pswp-height="{{ item.height }}"
              target="_blank">
            <img src="{{ item.thumb }}" alt="{{ item.title }}" />
          </a>
          {% if item.caption %}
            <figcaption class="hidden-caption-content">{{item.caption}}</figcaption>
          {% endif %}
        </figure>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}

{% endblock %}