<article class="project">
    <div class="col col-left">
        <h3 class="m-0">{{ project.title }}</h3>
        <p>{{ project.summary }}</p>
        {% if project.tags.all %}
        <div class="badges">
            {% for tag in project.tags.all %}
            <span class="badge">{{ tag.name }}</span>
            {% endfor %}
        </div>
        {% endif %}
        <a href="{{ project.url }}" class="mt-5 button button--outline-white">View Details</a>
    </div>
    <div class="col col-right">
        <figure>
            <img src="{{ project.thumbnail }}">
        </figure>
    </div>
</article>