{% extends 'app.html' %}
{% block title %}Kyle Bollinger{% endblock %}


{% block content %}
<section class="hero">
  <div class="wrap">
    <hgroup>
      <h1>Hello, I'm <span>Kyle.</span></h1>
      <h3>Seasoned software developer and web designer with a knack for crafting easy to use digital solutions</h3>
    </hgroup>
    <figure><img src="https://kboll.s3.amazonaws.com/images/kyle-headshot-800.webp"></figure>
  </div>
</section>

{% if projects %}
<section class="py-4">
  <div class="container">
    <hgroup class="text-center">
      <h2 class="colorize-title mb-3">Work</h2>
      <h4>Here's some of the things I've been up to</h4>
    </hgroup>
    <div class="projects my-5">
      {% for project in projects %}
      <article class="project">
        <a href="{{ project.url }}" class="stretch-link"></a>
        <figure style="background-image: url('{{ project.thumbnail }}')" alt="{{ project.title }}"></figure>
        <h3>{{ project.title }}</h3>
        <p>{{ project.summary }}</p>
        {% if project.tags.all %}
        {% for tag in project.tags.all %}
          <span class="badge">{{ tag.name }}</span>
        {% endfor %}
        {% endif %}
      </article>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}

{% endblock %}