<footer>
  <div class="container-xxl">
    <nav class="global-nav">
      <div class="logo">
        {% include 'includes/svg/terminal.html' %}
      </div>

      <div class="links">
        <ul class="nav">
          <li><a href="https://github.com/kylebollinger" target="_blank">Github</a></li>
          <li><a href="https://linkedin.com/in/kylebollinger" target="_blank">LinkedIn</a></li>
          <li><a href="https://kboll.s3.amazonaws.com/bollinger-kyle-resume.pdf" target="_blank">Resume</a></li>
        </ul>
      </div>

      <div class="copy">
        <p class="m-0">&copy; Kyle Bolliger {% now 'Y' %}</p>
      </div>
    </nav>
  </div>
</footer>