<meta charset="utf-8">
<meta http-equiv="X-UA-Compatable" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}{% endblock %}</title>
<meta name="description" content="A quick learner who excels in a fast-paced, demanding work atmosphere requiring the ability to multitask and be resourceful on the fly.">
{% include 'includes/favicon.html' %}
<script async src="https://www.googletagmanager.com/gtag/js?id=G-M9NG75SLB0"></script><script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'G-M9NG75SLB0');</script>