{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatable" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="A quick learner who excels in a fast-paced, demanding work atmosphere requiring the ability to multitask and be resourceful on the fly.">
    {% include 'includes/favicon.html' %}
    {% render_bundle 'app' %}
  </head>

  <body>
    {% include 'layout/navbar.html' %}
    <main>
      {% block content %}
      {% endblock %}
    </main>
    {% render_bundle 'main' %}
  </body>
</html>